body, html {
  overflow-y: auto;
}

.Dashboard1 {
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  ;
  overflow-y: auto; /* Enables vertical scrolling */
  }

.dropdown-container2 {
  position: relative;
top: 150px; /* Adjust as per your layout */
width: 200px; /* Adjust as per your requirement */
margin: 0 auto;
font-family: 'Josefin Sans', cursive;

}
.button-container{
  display: flex;
  justify-content: center;
}

.analysis-image {
  display: block; /* Use block display to apply margin: auto */
  margin-top: 200px;
  width: 50%; /* Increase the width to make the image bigger */
  max-width: 600px; /* You can set a max-width to ensure it doesn't get too large on bigger screens */
  height: auto; /* Set height to auto to maintain aspect ratio */
  margin-bottom: 50px;
}

.chart-container {
  margin-top: 210px; /* Adjust the value as needed */
  margin-left: 25%;
  width: 50%;
  height: 30%;
}

.chart-container.doughnut-chart {
  /* Additional styles to make the doughnut chart smaller */
  width: 25%; /* Example: Half the width of the bar chart */
  height: 25%; /* Example: Half the height of the bar chart */
  margin-left: 530px;
}



.html-content {
  margin-top: 130px;
  z-index: 1;
  overflow: auto

}

.date-label {
    display: block;
    margin-bottom: 10px;
    color: #8bbe52; /* Spotify green */
    font-weight: bold;
    font-family: 'Josefin Sans', cursive;
  }
  
  .date-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc; /* Light grey border */
    box-sizing: border-box;
  }
  
  #submit-button {
    background-color: #8bbe52; /* Spotify green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Josefin Sans', cursive;
    justify-self: center;
    margin-top: 0px;
  }
  
  #submit-button:hover {
    background-color: #7eac4a; /* Lighter Spotify green */
  }
  
  .track-input{
    width: 500px;
    margin-bottom: 0px;
  }

  .deneme {
    width: 100%; /* Ensures the container takes full width */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    overflow-y: auto; /* Enables vertical scrolling */
  }


  .analysis-image {
    display: block; /* Use block display to apply margin: auto */
    margin-top: 20px; /* Reduced margin-top */
    width: 50%; /* Increase the width to make the image bigger */
    max-width: 600px; /* You can set a max-width to ensure it doesn't get too large on bigger screens */
    height: auto; /* Set height to auto to maintain aspect ratio */
  }
  
  .favorite-songs-section .share-on-twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px; /* Reduced margin-top for closer positioning to the image */
    color: #1DA1F2;
    cursor: pointer;
  }
  
  .favorite-songs-section .image-container {
    display: flex;
    justify-content: center;
  }
  
  .error-message {
    color: #ff6b6b; /* red-ish color for errors */
    text-align: center;
    margin-top: 20px;
  }