.menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #B3B3B3;
  }
  
  .menu-btn:focus {
    outline: none;
  }

  .navbar {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px 20px; /* Reduced vertical padding */
    display: flex;
    justify-content: flex-start; /* Changed to flex-start to align content to the left */
    align-items: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  
  .profile-btn {
    background: none;
    border: none;
    font-size: px;
    cursor: pointer;
    color: #B3B3B3;
  }
  
  .profile-btn:focus {
    outline: none;
  }
  
  
  .profile-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    transition: color 0.3s ease; /* Add transition for color */
  }
  
  .profile-btn:hover .profile-icon {
    color: #8bbe52; /* Change color on hover */
  }
  
  
  .navbar .logo {
    max-height: 90px;
    width: auto;
    transition: filter 0.3s ease; /* Add transition for filter effect */
  }

  .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px; 
    margin: 0 auto; /* Keep the search bar centered */
  }
  
  
  .search-bar input {
    flex-grow: 1;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 40px; /* Increased border-radius for rounder corners */
    margin-right: 10px;
  }
  
  .search-bar .search-btn:hover {
    color: #8bbe52; /* Change to your preferred hover color */
  }
  
  
  
  
  .search-bar input:focus {
    color: #8bbe52;
    outline: none;
    border-color: #8bbe52; /* Highlight color when focused */
  }
  
  /* Styling for SearchIcon, if needed */
  .search-bar svg {
    color: #ccc;
    cursor: pointer;
  }
  
  .logo-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .logo-btn:focus {
    outline: none;
  }
  
  .logo-btn:hover {
    color: #8bbe52; /* Change color on hover */
  }

  .logout-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #B3B3B3;
    margin-right: 80px;
    margin-bottom: 15px;
  
  }
  
  .logout-btn:focus {
    outline: none;
  }
  
  .logout-icon {
    font-size: 45px; /* Adjust as needed */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .logout-btn:hover .logout-icon {
    color: #8bbe52; /* Change color on hover */
  }

  @keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}




.bell-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px; /* Adjusted to 25px from the top */
  right: 160px; /* Adjusted to 110px from the right */
  border-radius: 40%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.bell-btn:hover {
  background-color: #8bbe52; /* Green background on hover */
  transition: 0.3s ease; /* Smooth transition for background color */
}

.bell-icon {
  font-size: 25px;
  color: #B3B3B3;
}

.bell-icon:hover {
  animation: shake 0.3s ease-in-out 0s 2; /* duration, timing-function, delay, iteration-count */
  color : black;
}



.dropdown-menu {
  position: absolute;
  right: 215px; /* Aligning with the right position of the bell button */
  top: 25px; /* Adjusted to align just below the bell button */
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 2s, max-height 1s ease-in-out, visibility 3s;
}


.dropdown-menu-visible {
  opacity: 1;
  visibility: visible;
  max-height: 500px; /* Adjust as needed to fit content */
}


.dropdown-item {
  padding: 10px;
  margin: 3px 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer; /* Optional, if you want to change the cursor on hover */
  border-radius: 4px; /* Optional, for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
  color:black
}

.dropdown-item:hover{
  background-color:grey;
  color:white;
  }
